<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new character:</h3>
<form id="addperson" action="/character" method="post">
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Role: <select name="role_id"> 
        {{#each character}}
        <option value="{{role_id}}">{{role_id}}</option>
        {{/each}}
    </select><br>
    Age: <input type="number" name="dob"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<h3>Current character:</h3>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Role</th>
        <th>dob</th>  
    </thead> 
    <tbody> 
        {{#each character}} 
        <tr> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{house_id}}</td> 
            <td>{{dob}}</td>
            <td><button onclick="deleteCharacter({{id}})">Delete</button></td>
            <td><a href="/character/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
