<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new character:</h3>
<form id="addperson" action="/character" method="post">
    ID:  <input type="text" name="id"><br>
    First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Role: <select name="role_id"> 
        {{#each all_role_ids}}
        <option value="{{role_id}}">{{role_id}}</option>
        {{/each}}
    </select><br>
    DOB: <input type="number" name="dob"><br>
    HouseID: <select name="house_id">
         {{#each all_house_ids}}
         <option value="{{house_id}}">{{house_id}}</option>
         {{/each}} 
   </select><br>
    <input type="submit" value="Submit">
 </form>
<br/>


<form id='search_people' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchPeopleByFirstName()">
</form>



<h3>Current character:</h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Role</th>
        <th>dob</th> 
       <th>House ID</th> 
    </thead> 
    <tbody> 
        {{#each character}} 
        <tr>
            <td>{{id}}</td> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{role_id}}</td>
            <td>{{dob}}</td> 
            <td>{{house_id}}</td>
            <td><button onclick="deleteCharacter({{id}})">Delete</button></td>
            <td><a href="/character/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
