<html>
<h3>ADD A NEW CLASS</h3>
<form id="classtable" action="/classes" method="post">
   Subject: <input type="text" name="subject"><br>
   Description: <input type="text" name="description"><br>
   Role: <select name="instructor"> 
        {{#each character_ids}}
        <option value="{{character_id}}">{{character_id}}</option>
        {{/each}}
    </select><br>
   <input type="submit" value="Submit">
 </form>
<br/>
<h3>LIST OF ALL CLASSES</h3>
<table>
    <thead> 
        <th>Class ID</th> 
        <th>Subject</th>  
        <th>Description</th> 
        <th>Instructor</th>
    </thead> 
    <tbody> 
        {{#each courses}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{subject}}</td>
            <td>{{description}}</td> 
            <td>{{instructor}}</td> 
            <td><button onclick="deleteClass({{id}})">Delete</button></td>
            <td><a href="/classes/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
