<html>
<h3>Yo these are them classes:</h3>
<form id="classtable" action="/classes" method="post">
   Student ID: <input type="number" name="character_id"><br> 
   First name: <input type="text" name="fname"><br>
    Last name: <input type="text" name="lname"><br>
    Role: <select name="role_id"> 
        {{#each all_role_ids}}
        <option value="{{role_id}}">{{role_id}}</option>
        {{/each}}
    </select><br>
    Class ID: <input type="number" name="class_id"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<h3>Current character Class list:</h3>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>Role</th>
        <th>dob</th>  
    </thead> 
    <tbody> 
        {{#each courses}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{description}}</td> 
            <td>{{instructor}}</td> 
            <td>{{subject}}</td>
            <td><button onclick="deleteClass({{id}})">Delete</button></td>
            <td><a href="/classes/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
