<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Show characters from a house:</h3>
<form id="selecthouseid" action="/house/{{house_id}}" method="POST">
    House ID: <select name="house_id"> 
        {{#each character}}
        <option value="{{house_id}}">{{house_id}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Show">
 </form>
<br/>
<h3>Current character:</h3>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th> 
        <th>DOB</th>
        <th>House ID</th>  
    </thead> 
    <tbody> 
        {{#each character}} 
        <tr> 
            <td>{{fname}}</td> 
            <td>{{lname}}</td> 
            <td>{{dob}}</td> 
            <td>{{house_id}}</td>
            <td><button onclick="deleteCharacter({{id}})">Delete</button></td>
            <td><a href="/character/{{id}}">Update</a></td>
        </tr> 
        {{/each}} 
    </tbody> 
</table> 
</html>
