<html>
<!--
<div>
<h3> Decide who owns which items </h3>
    <form id="add_people_certificates" action="/people_certs" method="post">
    Character: <select name='pid'>
        {{#each character}}
          <option value='{{id}}'>{{fname}} {{lname}}</option>
        {{/each}}
    </select>
    <br>
    Items:<sup>Multi-select</sup> <select multiple name="certs"> 
        {{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
        {{#each certificates}}
        <option value="{{cid}}">{{title}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>
-->
<br/>
<h3> List of Characters with the items they own </h3>
<table>
    <thead> 
        <th>First Name</th> 
        <th>Last Name</th>
        <th>Item</th> 
    </thead> 
    <tbody> 
        {{#each itemOwners}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{fname}}</td>
            <td>{{lname}}</td>
            <td>{{name}}</td>
            <td>{{amount_of}}</td>
            <td>{{description}}</td>
            <td><button onclick="deletePeopleCert({{pid}},{{cid}})">Delete</button></td>
            <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td>
        </tr>
        {{else}}
        <b> No characters with any items were found! Give them some by using menu above. </b>
        {{/each}} 

    </tbody>
</table> 
</html>
