<html>
<h3>Change item {{itemOwners.name}}:</h3>
<form id="update-item" action="/items" method="post">
    ID:  <input type="text" name="id" value="{{itemOwners.item_id}}"><br>
    Item name: <input type="text" name="name">{{itemOwners.name}}<br>
    Description: <input type="text" name="description">{{itemOwners.description}}<br>
    <input type="submit" value="Submit">
 </form>
<br/>

<h3> List of Characters with the items they own </h3>
<table>
    <thead> 
      <th>ID</th>
        <th>First Name</th> 
        <th>Last Name</th>
        <th>Item ID</th>
       <th> Item Name</th>
       <th> Amount of</th>
       <th> Description </th>
    </thead> 
    <tbody> 
        {{#each itemOwners}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{fname}}</td>
            <td>{{lname}}</td>
            <td>{{item_id}}</td>
            <td>{{name}}</td>
            <td>{{amount_of}}</td>
            <td>{{description}}</td>
            <td><button
            onclick="deleteItem({{id}},{{item_id}},{{amount_of}})">Delete</button></td>
            <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td>
        </tr>
        {{else}}
        <b> No characters with any items were found! Give them some by using menu above. </b>
        {{/each}} 

    </tbody>
</table> 
</html>
