<html>
<h3>Add new item:</h3>
<form id="additem" action="/items" method="post">
    ID:  <input type="text" name="id"><br>
    Item name: <input type="text" name="name"><br>
    Description: <input type="text" name="description"><br>
    <input type="submit" value="Submit">
 </form>
<br/>
<h3> List of Items </h3>
<table>
    <thead> 
        <th>Item ID</th> 
        <th>Item Name</th> 
        <th>Description</th>
    </thead> 
    <tbody> 
        {{#each inventory}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{name}}</td>
            <td>{{description}}</td> 
            <td><button onclick="deleteSingleItem({{id}})">Delete</button></td>
            <td><a href="/items/{{id}}">Update</a></td>
        </tr>
        {{else}}
        <b> No items have been found! Create some. </b>
        {{/each}} 

    </tbody>
</table> 
</html>
