<html>
<div>
<!-- <h3> Decide who owns which items </h3>
    <form id="add_people_certificates" action="/item_list" method="post">
    Character: <select name='id'>
        {{#each character}}
          <option value='{{id}}'>{{fname}} {{lname}}</option>
        {{/each}}
    </select>
    <br>
    Items:<sup>Multi-select</sup> <select multiple name="certs"> 
        {{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
        {{#each certificates}}
        <option value="{{cid}}">{{title}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>
-->
<br/>
<h3> List of Items </h3>
<table>
    <thead> 
        <th>Item ID</th> 
        <th>Item Name</th> 
        <th>Amount of</th>
        <th>update qty</th>
        <th>Description</th>
    </thead> 
    <tbody> 
        {{#each inventory}} 
        <tr> 
            <td>{{item_id}}</td> 
            <td>{{name}}</td>
            <td>{{amount_of}}</td>
<td><form id="update-{{character_id}}-{{item_id}}"
action="/items/info/{{character_id}}/update/{{item_id}}/{{new_amount_of}}" method="post">
    new amount of: <input type="text" name="new_amount_of"><br>
    <input type="submit" value="Submit">
 </form>
           </td>
           <td>{{description}}</td> 
            <td><button onclick="deleteItem({{character_id}},{{item_id}},{{amount_of}})">Delete</button></td>
            <td><a href="/items/info/{{character_id}}/update/{{item_id}}/{{new_amount_of}}">Update</a></td>
        </tr>
        {{else}}
        <b> No items have been found! Create some. </b>
        {{/each}} 

    </tbody>
</table> 
</html>
