<html>
<div>
<!-- <h3> Decide who owns which items </h3>
    <form id="add_people_certificates" action="/item_list" method="post">
    Character: <select name='id'>
        {{#each character}}
          <option value='{{id}}'>{{fname}} {{lname}}</option>
        {{/each}}
    </select>
    <br>
    Items:<sup>Multi-select</sup> <select multiple name="certs"> 
        {{!-- We display title but the value that is submitted through the form is actually the certificate's id --}}
        {{#each certificates}}
        <option value="{{cid}}">{{title}}</option>
        {{/each}}
    </select><br>
    <input type="submit" value="Submit">
    </form>
</div>
-->
<br/>
<h3> List of Items </h3>
<table>
    <thead> 
        <th>ID</th> 
        <th>Name</th> 
        <th>Description</th>
    </thead> 
    <tbody> 
        {{#each inventory}} 
        <tr> 
            <td>{{id}}</td> 
            <td>{{name}}</td>
           <td>{{description}}</td> 
            <td><button onclick="deletePeopleCert({{pid}},{{cid}})">Delete</button></td>
            <td><a href='#' onclick='javascript: alert("You can implement it just like the Add form.")'>Update</a></td>
        </tr>
        {{else}}
        <b> No items have been found! Create some. </b>
        {{/each}} 

    </tbody>
</table> 
</html>
