<html>
<h1>Update {{character.fname}} {{character.lname}}:</h1>
<form id="update-character" action="/character" method="post">
    ID: <input type="number" name="id" value="{{character.id}}"><br>
    First name: <input type="text" name="fname" value="{{character.fname}}"><br>
    Last name: <input type="text" name="lname" value="{{character.lname}}"><br>
    RoleID: <input type="number" name="role_id" value="{{character.role_id}}"><br>
    Date of First Flesh Acquisition: <input type="number" name="dob" value="{{character.dob}}"><br>
    HouseID: <select name="house_id" id="house-selector" input type="name">
            {{#each all_house_ids}}
            <option value="{{character.house_id}}">{{house_id}}</option>
            {{/each}}
            </select><br>
</form>
<button onclick="updateCharacter({{character.id}})">Update</button>
<script defer>selectHouse({{house_id}});</script>
</html>
